@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face{
    font-family: 'NeverGiveUp';
    src: url('font/Never\ Give\ Up.otf')format('opentype');
}


body{
    display: flex;
    padding: 0;
    margin: 0;
}

.img{
    background-image: url("img/bg.jpg");
    background-position: left;
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.txt-banner{
    margin-top: 9.75rem;
    color: white;
    background: black;
    font-size: 45px;
    opacity: 0.45;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: NeverGiveup;
}

.credit{
    text-align: center;
    color: white;
    padding-bottom: 1em;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

a.creditlink{
    color: white;
}


.form-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    background-color: rgb(231, 231, 231);
    font-family: 'Poppins', sans-serif;
}

.top-section, .bot-section{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    font-weight: 600;
}

.top-section{
    padding-top: 4rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 10rem;
    gap: 2rem;
    justify-content: flex-end;
}

.bot-section{
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 10rem;
    gap: 1rem;
}

.mid-section{
    background-color: white;
    box-shadow: 0px 5px 5px rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}

.create-acct{
    width: 10rem;
    height: 3rem;
    background-color: #2596be;
    border-radius: 5px;
    border: 0px;
    color: white;
    font-size: 16px;
}

.create-acct:hover{
    scale: 0.95;
}

.title{
    font-size: 22px;
    font-weight: 600;
}

.form-container{
    gap: 3rem;
    display: flex;
}

label{
    font-size: 14px;
    font-weight: 400;

}

input{
    font-size: 18px;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 3px;
    padding: 5px;
}

:focus-visible{
    outline: 0;
}

input:focus-visible{
    border: 1px solid rgb(81, 113, 255);
    box-shadow: 0px 5px 5px rgb(211, 211, 211);
}

.form-input{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-label-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
}